.border-gradient {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6) 1;
}

.text-gradient {
  color: #14141f;
  background: linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
}
